# Min-Cost Flow Optimization Model for a Truck Delivery Case

Route optimization is heavily used in logistics to help
uncover the optimal path of transportation by minimizing
total cost as an objective. Min cost flow optimization
model can achieve this objective by setting up a flow
network constraint. This Colab notebook demonstrates how our team implemented this optimization model to a truck delivery business case scenario at the University of Wisconsin Madison. The model was first deployed in Excel using Solver's Simplex LP optimizer. The model was again deployed in this Colab notebook using GLPK package in Pyomo.

# Preparation

### Pip and Import

We start by importing required packages/libraries. Followed by reading in our Excel file and using Google API to extract real state to state distance for our model.

In [ ]:
!pip install googlemaps

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting googlemaps
  Downloading googlemaps-4.10.0.tar.gz (33 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.9/dist-packages (from googlemaps) (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.12)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.10.0-py3-none-any.whl size=40718 sha256=1d779455996500ad22c6e64512afb927ff627c16784096f54540833916315d8d
  Stored in directory: /root/.cache/pip/wheels/d9/5f/46/54a2bdb4bcb07d3faba4463d2884865705914cc72a7b8bb5f0
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.10.0

In [8]:
import requests
import json
import pandas as pd
import googlemaps

### Load data

In [9]:
modeldata =pd.read_excel('730_Final_Project.xlsm',sheet_name='Medium_model_data')

In [10]:
Start_point =modeldata.iloc[:,0].values.tolist()
End_point =modeldata.iloc[:,1].values.tolist()

# Requires API key
gmaps = googlemaps.Client(key='AIzaSyD6kSQ3Y97IoeXkFI_JTCvQBwWcFRDXweg')

dist_list=[]
for i in range(len(Start_point)):
  my_dist = gmaps.distance_matrix(Start_point[i],End_point[i])['rows'][0]['elements'][0]
  my_dist=my_dist['distance']['value']
  dist_list.append(my_dist)

print(dist_list)

modeldata['Distance']=dist_list
modeldata['Distance']=modeldata['Distance']/1000

[548403, 724200, 924972, 574238, 1274593, 909975, 670113, 696581, 573912, 748502, 361807, 696073, 917541, 1115941, 1185754, 682101, 1274510, 749037, 620294, 635011, 688594, 361892, 346019, 729991, 619149, 917152, 687971, 797127, 834647, 745256, 745706, 1160044, 776098, 891049, 860701, 346029, 517966, 1060536, 796570, 633824, 729821, 796547, 679657, 833444, 831905, 1186250, 860719, 1074824, 517983, 855202, 853354, 1061104, 679419, 848864, 849305, 833131, 835276, 776078, 635552, 635032, 1075910, 890805, 933574, 576956]

In [11]:
modeldata

       Start         End  Distance
0      Texas    Oklahoma   548.403
1      Texas  New Mexico   724.200
2   Oklahoma  New Mexico   924.972
3   Oklahoma      Kansas   574.238
4   Oklahoma    Colorado  1274.593
..       ...         ...       ...
59    Oregon       Idaho   635.032
60    Oregon  California  1075.910
61    Oregon      Nevada   890.805
62     Idaho  Washington   933.574
63    Oregon  Washington   576.956

[64 rows x 3 columns]

### Unique list

In [12]:
from pandas.tseries.frequencies import unique
startdata = modeldata.iloc[:,0].values.tolist()
enddata =modeldata.iloc[:,1].values.tolist()
uniquelist = set(startdata) | set(enddata)
print(uniquelist)
x=pd.unique(startdata)

{'Montana', 'North Dakota', 'Oregon', 'Texas', 'Wyoming', 'South Dakota', 'Utah', 'Oklahoma', 'Arizona', 'Idaho', 'Nevada', 'Kansas', 'Nebraska', 'Colorado', 'Washington', 'New Mexico', 'California'}

In [14]:
#del list
uniquelist = list(uniquelist)
uniquelist

['Montana',
 'North Dakota',
 'Oregon',
 'Texas',
 'Wyoming',
 'South Dakota',
 'Utah',
 'Oklahoma',
 'Arizona',
 'Idaho',
 'Nevada',
 'Kansas',
 'Nebraska',
 'Colorado',
 'Washington',
 'New Mexico',
 'California']

In [15]:
uniquename = [uniquelist[i] for i in range(len(uniquelist)) if uniquelist[i] != 'Texas' and uniquelist[i] != 'Washington']
uniquename

['Montana',
 'North Dakota',
 'Oregon',
 'Wyoming',
 'South Dakota',
 'Utah',
 'Oklahoma',
 'Arizona',
 'Idaho',
 'Nevada',
 'Kansas',
 'Nebraska',
 'Colorado',
 'New Mexico',
 'California']

Set up our start and end point

In [16]:
start_place = ['Texas']
end_place = ['Washington']

## Class type
Create input funtion for truck class selection (Type 1-6)

In [17]:
###  Choose the class for future ###
Classtype = input()

Class 5

In [18]:
checking_type =['Class 1','Class 2','Class 3']
if Classtype in checking_type:
  print('Pass 1 checking facility')
else:
  print('Pass 2 checking facilities')

Pass 2 checking facilities

### Tolls_and_check_facilities
  Tolls will be used in the OBJ and
  Checking Facilities  will be used in the constraint

In [19]:
#####   Tolls_and_check_facilities    #####
df_Tolls_and_check_facilities =pd.read_excel('730_Final_Project.xlsm',sheet_name='Tolls_and_check_facilities')
df_Tolls_and_check_facilities

,Entering state,Class 1,Class 2,Class 3,Class 4,Class 5,Class 6,Toll fee/kg,Equipment check facility
0,Oklahoma,126.532000,200.000000,297.000000,345.000000,783.000000,935.000000,0.032324,0
1,New Mexico,163.000000,369.290211,483.000000,562.000000,816.000000,1001.000000,0.056000,0
2,Kansas,178.808071,255.000000,360.000000,463.000000,831.000000,916.000000,0.030318,0
3,Arizona,218.530672,378.009107,730.339670,816.245951,1042.388648,1474.905458,0.069000,0
4,Colorado,194.361509,379.407651,732.688199,874.419394,958.403789,1565.075644,0.035269,0
5,Nebraska,200.825029,255.847000,316.000000,384.000000,717.000000,863.000000,0.020224,1
6,Utah,152.120693,419.836281,701.886626,884.782474,1001.066291,1569.443326,0.034000,1
7,Nevada,204.307161,397.952542,698.509045,746.653109,973.069388,1510.289415,0.085000,1
8,South Dakota,99.423000,402.879270,519.000000,611.000000,634.000000,748.000000,0.020000,0
9,Wyoming,117.000000,325.000000,384.000000,492.000000,904.614018,1047.000000,0.021050,0
10,California,424.678629,700.309068,812.862820,997.059028,1542.467722,1874.124000,0.155000,0
11,North Dakota,101.275000,413.032716,580.000000,683.000000,883.000000,916.000000,0.017000,1
12,Montana,203.709267,374.243151,714.384985,914.871560,962.128367,1534.358536,0.093000,1
13,Idaho,187.091117,378.132707,698.673368,804.303697,1044.397066,1592.123621,0.045000,0
14,Oregon,206.898191,398.605028,703.583691,850.118733,1001.311413,1536.410387,0.122400,0
15,Washington,202.771424,381.707343,731.641343,859.763245,989.454486,1513.964141,0.105000,0

In [20]:
# Get fixed tolls by state and truck class
fixed_tolls = df_Tolls_and_check_facilities.iloc[:,0:7]
fixed_tolls

,Entering state,Class 1,Class 2,Class 3,Class 4,Class 5,Class 6
0,Oklahoma,126.532000,200.000000,297.000000,345.000000,783.000000,935.000000
1,New Mexico,163.000000,369.290211,483.000000,562.000000,816.000000,1001.000000
2,Kansas,178.808071,255.000000,360.000000,463.000000,831.000000,916.000000
3,Arizona,218.530672,378.009107,730.339670,816.245951,1042.388648,1474.905458
4,Colorado,194.361509,379.407651,732.688199,874.419394,958.403789,1565.075644
5,Nebraska,200.825029,255.847000,316.000000,384.000000,717.000000,863.000000
6,Utah,152.120693,419.836281,701.886626,884.782474,1001.066291,1569.443326
7,Nevada,204.307161,397.952542,698.509045,746.653109,973.069388,1510.289415
8,South Dakota,99.423000,402.879270,519.000000,611.000000,634.000000,748.000000
9,Wyoming,117.000000,325.000000,384.000000,492.000000,904.614018,1047.000000
10,California,424.678629,700.309068,812.862820,997.059028,1542.467722,1874.124000
11,North Dakota,101.275000,413.032716,580.000000,683.000000,883.000000,916.000000
12,Montana,203.709267,374.243151,714.384985,914.871560,962.128367,1534.358536
13,Idaho,187.091117,378.132707,698.673368,804.303697,1044.397066,1592.123621
14,Oregon,206.898191,398.605028,703.583691,850.118733,1001.311413,1536.410387
15,Washington,202.771424,381.707343,731.641343,859.763245,989.454486,1513.964141

In [21]:
toll_fee_kg = df_Tolls_and_check_facilities.iloc[:,[0,7]]
toll_fee_kg

   Entering state  Toll fee/kg
0        Oklahoma     0.032324
1      New Mexico     0.056000
2          Kansas     0.030318
3         Arizona     0.069000
4        Colorado     0.035269
5        Nebraska     0.020224
6            Utah     0.034000
7          Nevada     0.085000
8    South Dakota     0.020000
9         Wyoming     0.021050
10     California     0.155000
11   North Dakota     0.017000
12        Montana     0.093000
13          Idaho     0.045000
14         Oregon     0.122400
15     Washington     0.105000

In [22]:
# Get truck equipment check facilities
Check_facilities = df_Tolls_and_check_facilities.iloc[:,[0,8]]
Check_facilities

   Entering state  Equipment check facility
0        Oklahoma                         0
1      New Mexico                         0
2          Kansas                         0
3         Arizona                         0
4        Colorado                         0
5        Nebraska                         1
6            Utah                         1
7          Nevada                         1
8    South Dakota                         0
9         Wyoming                         0
10     California                         0
11   North Dakota                         1
12        Montana                         1
13          Idaho                         0
14         Oregon                         0
15     Washington                         0

In [23]:
# Get fixed toll based on the truck class we inputed earlier
pre_toll =df_Tolls_and_check_facilities[['Entering state',Classtype]]
pre_toll.columns =['End','Fixed_toll']
pre_toll

             End   Fixed_toll
0       Oklahoma   783.000000
1     New Mexico   816.000000
2         Kansas   831.000000
3        Arizona  1042.388648
4       Colorado   958.403789
5       Nebraska   717.000000
6           Utah  1001.066291
7         Nevada   973.069388
8   South Dakota   634.000000
9        Wyoming   904.614018
10    California  1542.467722
11  North Dakota   883.000000
12       Montana   962.128367
13         Idaho  1044.397066
14        Oregon  1001.311413
15    Washington   989.454486

In [24]:
pre_toll = pd.merge(pre_toll, toll_fee_kg,
					left_on ='End', right_on = 'Entering state',
					how ='left')
pre_toll = pre_toll.iloc[:,[0,1,3]]
pre_toll

             End   Fixed_toll  Toll fee/kg
0       Oklahoma   783.000000     0.032324
1     New Mexico   816.000000     0.056000
2         Kansas   831.000000     0.030318
3        Arizona  1042.388648     0.069000
4       Colorado   958.403789     0.035269
5       Nebraska   717.000000     0.020224
6           Utah  1001.066291     0.034000
7         Nevada   973.069388     0.085000
8   South Dakota   634.000000     0.020000
9        Wyoming   904.614018     0.021050
10    California  1542.467722     0.155000
11  North Dakota   883.000000     0.017000
12       Montana   962.128367     0.093000
13         Idaho  1044.397066     0.045000
14        Oregon  1001.311413     0.122400
15    Washington   989.454486     0.105000

In [25]:
# We will now join the fixed toll column for the class type we selected to our modeldata
inner_join = pd.merge(modeldata,
					pre_toll,
					on ='End',
					how ='inner')
inner_join

           Start         End  Distance  Fixed_toll  Toll fee/kg
0          Texas    Oklahoma   548.403  783.000000     0.032324
1     New Mexico    Oklahoma   909.975  783.000000     0.032324
2         Kansas    Oklahoma   573.912  783.000000     0.032324
3       Colorado    Oklahoma  1274.510  783.000000     0.032324
4          Texas  New Mexico   724.200  816.000000     0.056000
..           ...         ...       ...         ...          ...
59       Wyoming     Montana   679.657  962.128367     0.093000
60  North Dakota     Montana   855.202  962.128367     0.093000
61         Idaho     Montana   849.305  962.128367     0.093000
62         Idaho  Washington   933.574  989.454486     0.105000
63        Oregon  Washington   576.956  989.454486     0.105000

[64 rows x 5 columns]

In [26]:
# We will create a list for fixed tolls
toll_fixed=inner_join['Fixed_toll'].values.tolist()
toll_fixed

[783.0,
 783.0,
 783.0,
 783.0,
 816.0,
 816.0,
 816.0,
 816.0,
 831.0,
 831.0,
 831.0,
 958.4037894357128,
 958.4037894357128,
 958.4037894357128,
 958.4037894357128,
 958.4037894357128,
 958.4037894357128,
 1042.3886483476992,
 1042.3886483476992,
 1042.3886483476992,
 1042.3886483476992,
 717.0,
 717.0,
 717.0,
 717.0,
 1001.0662905279191,
 1001.0662905279191,
 1001.0662905279191,
 1001.0662905279191,
 1001.0662905279191,
 973.0693875734745,
 973.0693875734745,
 973.0693875734745,
 973.0693875734745,
 973.0693875734745,
 1542.4677222743974,
 1542.4677222743974,
 1542.4677222743974,
 904.614018121683,
 904.614018121683,
 904.614018121683,
 904.614018121683,
 904.614018121683,
 904.614018121683,
 634.0,
 634.0,
 634.0,
 634.0,
 1044.3970660213388,
 1044.3970660213388,
 1044.3970660213388,
 1044.3970660213388,
 1044.3970660213388,
 1001.311413155172,
 1001.311413155172,
 1001.311413155172,
 883.0,
 883.0,
 962.1283668163197,
 962.1283668163197,
 962.1283668163197,
 962.1283668163197,
 989.4544857267039,
 989.4544857267039]

In [27]:
toll_kg =inner_join['Toll fee/kg'].values.tolist()
toll_kg

[0.0323243008494732,
 0.0323243008494732,
 0.0323243008494732,
 0.0323243008494732,
 0.056,
 0.056,
 0.056,
 0.056,
 0.030317926724266787,
 0.030317926724266787,
 0.030317926724266787,
 0.03526929439800928,
 0.03526929439800928,
 0.03526929439800928,
 0.03526929439800928,
 0.03526929439800928,
 0.03526929439800928,
 0.069,
 0.069,
 0.069,
 0.069,
 0.02022351877441316,
 0.02022351877441316,
 0.02022351877441316,
 0.02022351877441316,
 0.034,
 0.034,
 0.034,
 0.034,
 0.034,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.155,
 0.155,
 0.155,
 0.021049689911392055,
 0.021049689911392055,
 0.021049689911392055,
 0.021049689911392055,
 0.021049689911392055,
 0.021049689911392055,
 0.02,
 0.02,
 0.02,
 0.02,
 0.045,
 0.045,
 0.045,
 0.045,
 0.045,
 0.1224,
 0.1224,
 0.1224,
 0.017,
 0.017,
 0.093,
 0.093,
 0.093,
 0.093,
 0.105,
 0.105]

### Truck_information
All of truck information will be included. (Dimension, Carrying Capacity Disel consumption)

In [28]:
df_Truck_information =pd.read_excel('730_Final_Project.xlsm',sheet_name='Truck_information')
df_Truck_information

,Truck type,Dimension (m^3),Carrying capacity (kg),Diesel consumption liters/km,Fuel cost/km ($)
0,Class 1,40,2000,0.25,0.30525
1,Class 2,58,4000,0.35,0.42735
2,Class 3,96,6000,0.45,0.54945
3,Class 4,111,7000,0.55,0.67155
4,Class 5,134,7500,0.60,0.73260
5,Class 6,155,10000,0.70,0.85470

In [29]:
# We will extract carrying capacity, and fuel cost per km for the truck class we selected earlier
# above_35 = titanic[titanic["Age"] > 35]
classnum = df_Truck_information[df_Truck_information['Truck type']==Classtype]
dimension = float(classnum.iloc[:,1])
capacity = float(classnum.iloc[:,2])
Diesel = float(classnum.iloc[:,3]) # We dont need diesel consumption for buidling the model, we used it to calculate fuel cost per km in excel
Fuel=  float(classnum.iloc[:,4])

print('dimension',dimension,'capcaity',capacity,'Diesel',Diesel,'Fuel',Fuel)

dimension 134.0 capcaity 7500.0 Diesel 0.6 Fuel 0.7326

# Modeling

### Set-Up

In [30]:
#@title
#Copy-and-paste the code below to use as "set-up" when your optimization model uses Pyomo. 
#Uncomment the appropriate solver that you need.
#for reference, see https://colab.research.google.com/drive/1yGk8RB5NXrcx9f1Tb-oCiWzbxh61hZLI?usp=sharing

#installing and importing pyomo
!pip install -q pyomo
from pyomo.environ import *

###installing and importing specific solvers (uncomment the one(s) you need)
###glpk
!apt-get install -y -qq glpk-utils
###cbc
#!apt-get install -y -qq coinor-cbc
###ipopt
#!wget -N -q "https://ampl.com/dl/open/ipopt/ipopt-linux64.zip"
#!unzip -o -q ipopt-linux64
###bonmin
#!wget -N -q "https://ampl.com/dl/open/bonmin/bonmin-linux64.zip"
#!unzip -o -q bonmin-linux64
###couenne
#!wget -N -q "https://ampl.com/dl/open/couenne/couenne-linux64.zip"
#!unzip -o -q couenne-linux64
###geocode
#!wget -N -q "https://ampl.com/dl/open/gecode/gecode-linux64.zip"
#!unzip -o -q gecode-linux64

#Using the solvers:
#SolverFactory('glpk', executable='/usr/bin/glpsol')
#SolverFactory('cbc', executable='/usr/bin/cbc')
#SolverFactory('ipopt', executable='/content/ipopt')
#SolverFactory('bonmin', executable='/content/bonmin')
#SolverFactory('couenne', executable='/content/couenne')
#SolverFactory('gecode', executable='/content/gecode')

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.0/11.0 MB 60.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 KB 5.4 MB/s eta 0:00:00
Selecting previously unselected package libsuitesparseconfig5:amd64.
(Reading database ... 128276 files and directories currently installed.)
Preparing to unpack .../libsuitesparseconfig5_1%3a5.7.1+dfsg-2_amd64.deb ...
Unpacking libsuitesparseconfig5:amd64 (1:5.7.1+dfsg-2) ...
Selecting previously unselected package libamd2:amd64.
Preparing to unpack .../libamd2_1%3a5.7.1+dfsg-2_amd64.deb ...
Unpacking libamd2:amd64 (1:5.7.1+dfsg-2) ...
Selecting previously unselected package libcolamd2:amd64.
Preparing to unpack .../libcolamd2_1%3a5.7.1+dfsg-2_amd64.deb ...
Unpacking libcolamd2:amd64 (1:5.7.1+dfsg-2) ...
Selecting previously unselected package libglpk40:amd64.
Preparing to unpack .../libglpk40_4.65-2_amd64.deb ...
Unpacking libglpk40:amd64 (4.65-2) ...
Selecting previously unselected package glpk-utils.
Preparing to unpack .../glpk-utils_4.65-2_amd64.deb ...
Unpacking glpk-utils (4.65-2) ...
Setting up libsuitesparseconfig5:amd64 (1:5.7.1+dfsg-2) ...
Setting up libamd2:amd64 (1:5.7.1+dfsg-2) ...
Setting up libcolamd2:amd64 (1:5.7.1+dfsg-2) ...
Setting up libglpk40:amd64 (4.65-2) ...
Setting up glpk-utils (4.65-2) ...
Processing triggers for man-db (2.9.1-1) ...
Processing triggers for libc-bin (2.31-0ubuntu9.9) ...

### Objective Function

In [31]:
num_dvs =len(inner_join)
num_dvs

64

In [32]:
# We will create lists that are needed to set up our objective function
# my_new_list = [i * 5 for i in my_list]
Toll_fee_kg_new = [i * capacity for i in toll_kg]
Toll_fee_kg_new # Toll fee based on carrying weight
Total_toll = [Toll_fee_kg_new[i] + toll_fixed[i] for i in range(num_dvs)] # Total toll based on carrying weight plus fixed toll
distance = inner_join.iloc[:,2].values.tolist()
Fuel_cost = [Fuel * distance[i] for i in range(num_dvs)] # Total fuel cost based on distance traveled

total_cost =[Total_toll[i]+ Fuel_cost[i] for i in range(num_dvs)] # Total cost, toll and fuel combined

### Constraints (Outflow)

In [33]:
def findstartindex(name):
  a = []
  for i in inner_join.index[inner_join['Start'] == name]:
    a.append(i)
  return(a)

In [34]:
from pandas.tseries.frequencies import unique
startdata = inner_join.iloc[:,0].values.tolist()
x=pd.unique(startdata)

uniquelist_start=pd.DataFrame(x)

In [35]:
p=[]
for i in range(len(x)):
  o =findstartindex(x[i])
  p.append(o)
print(p)
uniquelist_start['combination']=p

[[0, 4], [1, 12, 17], [2, 13, 21], [3, 7, 9, 22, 26, 38], [5, 8, 11], [6, 25, 30, 35], [10, 14, 39, 44], [15, 18, 31, 40, 48], [16, 24, 28, 45, 50, 59], [19, 27, 36, 49, 53], [20, 32, 54], [23, 41, 56, 58], [29, 33, 43, 55, 61, 62], [34, 37, 52, 63], [42, 47, 51, 57], [46, 60]]

In [36]:
uniquelist_start

               0               combination
0          Texas                    [0, 4]
1     New Mexico               [1, 12, 17]
2         Kansas               [2, 13, 21]
3       Colorado     [3, 7, 9, 22, 26, 38]
4       Oklahoma                [5, 8, 11]
5        Arizona           [6, 25, 30, 35]
6       Nebraska          [10, 14, 39, 44]
7           Utah      [15, 18, 31, 40, 48]
8        Wyoming  [16, 24, 28, 45, 50, 59]
9         Nevada      [19, 27, 36, 49, 53]
10    California              [20, 32, 54]
11  South Dakota          [23, 41, 56, 58]
12         Idaho  [29, 33, 43, 55, 61, 62]
13        Oregon          [34, 37, 52, 63]
14       Montana          [42, 47, 51, 57]
15  North Dakota                  [46, 60]

### Constraint(Inflow)

In [37]:
def findendindex(name):
  a = []
  for i in inner_join.index[inner_join['End'] == name]:
    a.append(i)
  return(a)

In [38]:
from pandas.tseries.frequencies import unique
enddata = inner_join.iloc[:,1].values.tolist()
x=pd.unique(enddata)

uniquelist_end=pd.DataFrame(x)

In [39]:
p=[]
for i in range(len(x)):
  o =findendindex(x[i])
  p.append(o)
print(p)
uniquelist_end['combination']=p

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10], [11, 12, 13, 14, 15, 16], [17, 18, 19, 20], [21, 22, 23, 24], [25, 26, 27, 28, 29], [30, 31, 32, 33, 34], [35, 36, 37], [38, 39, 40, 41, 42, 43], [44, 45, 46, 47], [48, 49, 50, 51, 52], [53, 54, 55], [56, 57], [58, 59, 60, 61], [62, 63]]

In [40]:
uniquelist_end

               0               combination
0       Oklahoma              [0, 1, 2, 3]
1     New Mexico              [4, 5, 6, 7]
2         Kansas                [8, 9, 10]
3       Colorado  [11, 12, 13, 14, 15, 16]
4        Arizona          [17, 18, 19, 20]
5       Nebraska          [21, 22, 23, 24]
6           Utah      [25, 26, 27, 28, 29]
7         Nevada      [30, 31, 32, 33, 34]
8     California              [35, 36, 37]
9        Wyoming  [38, 39, 40, 41, 42, 43]
10  South Dakota          [44, 45, 46, 47]
11         Idaho      [48, 49, 50, 51, 52]
12        Oregon              [53, 54, 55]
13  North Dakota                  [56, 57]
14       Montana          [58, 59, 60, 61]
15    Washington                  [62, 63]

### Checking List

In [41]:
def find(name):
  a = []
  for i in inner_join.index[inner_join['End']==name]:
    a.append(i)
  return(a)

checkinglist =['Nebraska', 'Utah', 'Nevada', 'Montana', 'North Dakota']

list = []
for i in checkinglist:
  list.extend(find(i))
print(list)

[21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 58, 59, 60, 61, 56, 57]

### Create Modeling

In [42]:


#initialize a "Concrete Model"
model = ConcreteModel()

#initialize DVs
model.x = Var(range(num_dvs), domain=Binary)

#objective function
model.Objective = Objective(expr = sum(total_cost[i]*model.x[i] for i in range(num_dvs)), sense = minimize)


model.Constraints = ConstraintList()
# Use the model.x variable in the model.Constraints.add() method

## Constraint: Netflow
### StartPlace

for i in start_place:
  uniquelist_start_rows = findstartindex(i)
  model.Constraints.add(expr = sum(model.x[j] for j in uniquelist_start_rows)==1)
### EndPlace
for i in end_place:
  uniquelist_end_rows = findendindex(i)
  model.Constraints.add(expr = sum(-model.x[j] for j in uniquelist_end_rows)==-1)
### All flows except for start and end place
for i in uniquename:
    uniquelist_start_rows = findstartindex(i)
    uniquelist_end_rows = findendindex(i)
    
    model.Constraints.add(expr = sum(model.x[j] for j in uniquelist_start_rows) - sum(model.x[k] for k in uniquelist_end_rows) == 0)

## Constraint: Checking facility (Nebraska, Utah, Nevada, Montana, North Dakota)
checkinglist =['Nebraska', 'Utah', 'Nevada', 'Montana', 'North Dakota']

### Class 1-3 need to pass 1 equipment check facility. 
### Class 4-6 need to pass 2 equipment check facilities 
if Classtype in checking_type:
  model.Constraints.add(expr = sum([model.x[i] for i in list]) == 1)
else:
  model.Constraints.add(expr = sum([model.x[i] for i in list]) == 2)

model.pprint()

2 Set Declarations
    Constraints_index : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :   18 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18}
    x_index : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :   64 : {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63}

1 Var Declarations
    x : Size=64, Index=x_index
        Key : Lower : Value : Upper : Fixed : Stale : Domain
          0 :     0 :  None :     1 : False :  True : Binary
          1 :     0 :  None :     1 : False :  True : Binary
          2 :     0 :  None :     1 : False :  True : Binary
          3 :     0 :  None :     1 : False :  True : Binary
          4 :     0 :  None :     1 : False :  True : Binary
          5 :     0 :  None :     1 : False :  True : Binary
          6 :     0 :  None :     1 : False :  True : Binary
          7 :     0 :  None :     1 : False :  True : Binary
          8 :     0 :  None :     1 : False :  True : Binary
          9 :     0 :  None :     1 : False :  True : Binary
         10 :     0 :  None :     1 : False :  True : Binary
         11 :     0 :  None :     1 : False :  True : Binary
         12 :     0 :  None :     1 : False :  True : Binary
         13 :     0 :  None :     1 : False :  True : Binary
         14 :     0 :  None :     1 : False :  True : Binary
         15 :     0 :  None :     1 : False :  True : Binary
         16 :     0 :  None :     1 : False :  True : Binary
         17 :     0 :  None :     1 : False :  True : Binary
         18 :     0 :  None :     1 : False :  True : Binary
         19 :     0 :  None :     1 : False :  True : Binary
         20 :     0 :  None :     1 : False :  True : Binary
         21 :     0 :  None :     1 : False :  True : Binary
         22 :     0 :  None :     1 : False :  True : Binary
         23 :     0 :  None :     1 : False :  True : Binary
         24 :     0 :  None :     1 : False :  True : Binary
         25 :     0 :  None :     1 : False :  True : Binary
         26 :     0 :  None :     1 : False :  True : Binary
         27 :     0 :  None :     1 : False :  True : Binary
         28 :     0 :  None :     1 : False :  True : Binary
         29 :     0 :  None :     1 : False :  True : Binary
         30 :     0 :  None :     1 : False :  True : Binary
         31 :     0 :  None :     1 : False :  True : Binary
         32 :     0 :  None :     1 : False :  True : Binary
         33 :     0 :  None :     1 : False :  True : Binary
         34 :     0 :  None :     1 : False :  True : Binary
         35 :     0 :  None :     1 : False :  True : Binary
         36 :     0 :  None :     1 : False :  True : Binary
         37 :     0 :  None :     1 : False :  True : Binary
         38 :     0 :  None :     1 : False :  True : Binary
         39 :     0 :  None :     1 : False :  True : Binary
         40 :     0 :  None :     1 : False :  True : Binary
         41 :     0 :  None :     1 : False :  True : Binary
         42 :     0 :  None :     1 : False :  True : Binary
         43 :     0 :  None :     1 : False :  True : Binary
         44 :     0 :  None :     1 : False :  True : Binary
         45 :     0 :  None :     1 : False :  True : Binary
         46 :     0 :  None :     1 : False :  True : Binary
         47 :     0 :  None :     1 : False :  True : Binary
         48 :     0 :  None :     1 : False :  True : Binary
         49 :     0 :  None :     1 : False :  True : Binary
         50 :     0 :  None :     1 : False :  True : Binary
         51 :     0 :  None :     1 : False :  True : Binary
         52 :     0 :  None :     1 : False :  True : Binary
         53 :     0 :  None :     1 : False :  True : Binary
         54 :     0 :  None :     1 : False :  True : Binary
         55 :     0 :  None :     1 : False :  True : Binary
         56 :     0 :  None :     1 : False :  True : Binary
         57 :     0 :  None :     1 : False :  True : Binary
         58 :     0 :  None :     1 : False :  True : Binary
         59 :     0 :  None :     1 : False :  True : Binary
         60 :     0 :  None :     1 : False :  True : Binary
         61 :     0 :  None :     1 : False :  True : Binary
         62 :     0 :  None :     1 : False :  True : Binary
         63 :     0 :  None :     1 : False :  True : Binary

1 Objective Declarations
    Objective : Size=1, Index=None, Active=True
        Key  : Active : Sense    : Expression
        None :   True : minimize : 1427.1922941710488*x[0] + 1692.0799413710488*x[1] + 1445.880187571049*x[2] + 1959.138282371049*x[3] + 1766.5489200000002*x[4] + 1913.6344872*x[5] + 1745.9430798*x[6] + 1735.7071926*x[7] + 1479.071209232001*x[8] + 1607.128956632001*x[9] + 1323.5065296320008*x[10] + 2156.6903292207826*x[11] + 1713.8482812207826*x[12] + 1771.2760626207823*x[13] + 1676.5120548207824*x[14] + 1726.9310520207825*x[15] + 1687.2629598207825*x[16] + 2070.2038889476994*x[17] + 2231.7942035476995*x[18] + 2409.7368827476994*x[19] + 2428.9353983476994*x[20] + 1133.7361990080988*x[21] + 1323.1037752080988*x[22] + 1122.1772362080987*x[23] + 1403.3432554080987*x[24] + 1928.2568271279192*x[25] + 1760.5302549279193*x[26] + 1802.3705061279193*x[27] + 1865.519893527919*x[28] + 1867.9894881279192*x[29] + 2428.1077641734746*x[30] + 2156.5439331734747*x[31] + 2241.1321269734744*x[32] + 2179.1241303734746*x[33] + 2263.1731305734747*x[34] + 3573.6511026743974*x[35] + 3335.5172748743976*x[36] + 3493.1793882743978*x[37] + 1527.6957510571233*x[38] + 1597.2780990571232*x[39] + 1646.4619326571233*x[40] + 1646.0538744571236*x[41] + 1560.2290518571233*x[42] + 1672.8384630571234*x[43] + 1037.4935194*x[44] + 1367.5503322*x[45] + 1163.4743458*x[46] + 1561.3647904*x[47] + 1993.3594582213389*x[48] + 1950.4664608213388*x[49] + 1992.4781404213388*x[50] + 2003.774832421339*x[51] + 1847.1215092213388*x[52] + 2572.093910555172*x[53] + 2706.727475555172*x[54] + 2384.916808355172*x[55] + 1389.9618916*x[56] + 1635.6671404*x[57] + 2436.5770404163195*x[58] + 2157.5450850163197*x[59] + 2286.1493520163194*x[60] + 2281.8292098163197*x[61] + 2460.890798126704*x[62] + 2199.6324513267036*x[63]

1 Constraint Declarations
    Constraints : Size=18, Index=Constraints_index, Active=True
        Key : Lower : Body                                                                                                                                                          : Upper : Active
          1 :   1.0 :                                                                                                                                                   x[0] + x[4] :   1.0 :   True
          2 :  -1.0 :                                                                                                                                               - x[62] - x[63] :  -1.0 :   True
          3 :   0.0 :                                                                                               x[42] + x[47] + x[51] + x[57] - (x[58] + x[59] + x[60] + x[61]) :   0.0 :   True
          4 :   0.0 :                                                                                                                               x[46] + x[60] - (x[56] + x[57]) :   0.0 :   True
          5 :   0.0 :                                                                                                       x[34] + x[37] + x[52] + x[63] - (x[53] + x[54] + x[55]) :   0.0 :   True
          6 :   0.0 :                                                               x[16] + x[24] + x[28] + x[45] + x[50] + x[59] - (x[38] + x[39] + x[40] + x[41] + x[42] + x[43]) :   0.0 :   True
          7 :   0.0 :                                                                                               x[23] + x[41] + x[56] + x[58] - (x[44] + x[45] + x[46] + x[47]) :   0.0 :   True
          8 :   0.0 :                                                                               x[15] + x[18] + x[31] + x[40] + x[48] - (x[25] + x[26] + x[27] + x[28] + x[29]) :   0.0 :   True
          9 :   0.0 :                                                                                                             x[5] + x[8] + x[11] - (x[0] + x[1] + x[2] + x[3]) :   0.0 :   True
         10 :   0.0 :                                                                                                x[6] + x[25] + x[30] + x[35] - (x[17] + x[18] + x[19] + x[20]) :   0.0 :   True
         11 :   0.0 :                                                                       x[29] + x[33] + x[43] + x[55] + x[61] + x[62] - (x[48] + x[49] + x[50] + x[51] + x[52]) :   0.0 :   True
         12 :   0.0 :                                                                               x[19] + x[27] + x[36] + x[49] + x[53] - (x[30] + x[31] + x[32] + x[33] + x[34]) :   0.0 :   True
         13 :   0.0 :                                                                                                                  x[2] + x[13] + x[21] - (x[8] + x[9] + x[10]) :   0.0 :   True
         14 :   0.0 :                                                                                               x[10] + x[14] + x[39] + x[44] - (x[21] + x[22] + x[23] + x[24]) :   0.0 :   True
         15 :   0.0 :                                                                  x[3] + x[7] + x[9] + x[22] + x[26] + x[38] - (x[11] + x[12] + x[13] + x[14] + x[15] + x[16]) :   0.0 :   True
         16 :   0.0 :                                                                                                            x[1] + x[12] + x[17] - (x[4] + x[5] + x[6] + x[7]) :   0.0 :   True
         17 :   0.0 :                                                                                                               x[20] + x[32] + x[54] - (x[35] + x[36] + x[37]) :   0.0 :   True
         18 :   2.0 : x[21] + x[22] + x[23] + x[24] + x[25] + x[26] + x[27] + x[28] + x[29] + x[30] + x[31] + x[32] + x[33] + x[34] + x[58] + x[59] + x[60] + x[61] + x[56] + x[57] :   2.0 :   True

5 Declarations: x_index x Objective Constraints_index Constraints

In [43]:
#solve model
opt = SolverFactory('glpk', executable='/usr/bin/glpsol')

results = opt.solve(model, tee = True)

GLPSOL: GLPK LP/MIP Solver, v4.65
Parameter(s) specified in the command line:
 --write /tmp/tmp2a2419ns.glpk.raw --wglp /tmp/tmpcmr0ppyd.glpk.glp --cpxlp
 /tmp/tmpmrnal50p.pyomo.lp
Reading problem data from '/tmp/tmpmrnal50p.pyomo.lp'...
/tmp/tmpmrnal50p.pyomo.lp:343: warning: lower bound of variable 'x1' redefined
/tmp/tmpmrnal50p.pyomo.lp:343: warning: upper bound of variable 'x1' redefined
19 rows, 65 columns, 149 non-zeros
64 integer variables, all of which are binary
407 lines were read
Writing problem data to '/tmp/tmpcmr0ppyd.glpk.glp'...
305 lines were written
GLPK Integer Optimizer, v4.65
19 rows, 65 columns, 149 non-zeros
64 integer variables, all of which are binary
Preprocessing...
18 rows, 64 columns, 148 non-zeros
64 integer variables, all of which are binary
Scaling...
 A: min|aij| =  1.000e+00  max|aij| =  1.000e+00  ratio =  1.000e+00
Problem data seem to be well scaled
Constructing initial basis...
Size of triangular part is 16
Solving LP relaxation...
GLPK Simplex Optimizer, v4.65
18 rows, 64 columns, 148 non-zeros
      0: obj =   1.253738946e+04 inf =   4.000e+00 (4)
      6: obj =   1.197873589e+04 inf =   0.000e+00 (0)
*    13: obj =   1.145672390e+04 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
Integer optimization begins...
Long-step dual simplex will be used
+    13: mip =     not found yet >=              -inf        (1; 0)
+    22: >>>>>   1.191231407e+04 >=   1.154044122e+04   3.1% (5; 0)
+    27: >>>>>   1.180882865e+04 >=   1.175059299e+04   0.5% (3; 4)
+    27: mip =   1.180882865e+04 >=     tree is empty   0.0% (0; 11)
INTEGER OPTIMAL SOLUTION FOUND
Time used:   0.0 secs
Memory used: 0.1 Mb (117264 bytes)
Writing MIP solution to '/tmp/tmp2a2419ns.glpk.raw'...
93 lines were written

In [44]:
#print relevant values
for i in range(num_dvs):
  print(f"x{i} = {model.x[i]()}")
print("obj* = ", model.Objective())

x0 = 0.0
x1 = 0.0
x2 = 0.0
x3 = 0.0
x4 = 1.0
x5 = 0.0
x6 = 0.0
x7 = 0.0
x8 = 0.0
x9 = 0.0
x10 = 0.0
x11 = 0.0
x12 = 1.0
x13 = 0.0
x14 = 0.0
x15 = 0.0
x16 = 0.0
x17 = 0.0
x18 = 0.0
x19 = 0.0
x20 = 0.0
x21 = 0.0
x22 = 0.0
x23 = 0.0
x24 = 0.0
x25 = 0.0
x26 = 1.0
x27 = 0.0
x28 = 0.0
x29 = 0.0
x30 = 0.0
x31 = 1.0
x32 = 0.0
x33 = 0.0
x34 = 0.0
x35 = 0.0
x36 = 0.0
x37 = 0.0
x38 = 0.0
x39 = 0.0
x40 = 0.0
x41 = 0.0
x42 = 0.0
x43 = 0.0
x44 = 0.0
x45 = 0.0
x46 = 0.0
x47 = 0.0
x48 = 0.0
x49 = 1.0
x50 = 0.0
x51 = 0.0
x52 = 0.0
x53 = 0.0
x54 = 0.0
x55 = 0.0
x56 = 0.0
x57 = 0.0
x58 = 0.0
x59 = 0.0
x60 = 0.0
x61 = 0.0
x62 = 1.0
x63 = 0.0
obj* =  11808.828648270219

In [45]:
path = []
for i in range(num_dvs):
  path.append(model.x[i]())
path

[0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0]

In [46]:
pd.set_option('display.max_rows',None)

In [47]:
optimized_route = inner_join.iloc[:,[0,1]]
optimized_route['Path'] = path
optimized_route

<ipython-input-47-ff523aa4aac9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  optimized_route['Path'] = path

           Start           End  Path
0          Texas      Oklahoma   0.0
1     New Mexico      Oklahoma   0.0
2         Kansas      Oklahoma   0.0
3       Colorado      Oklahoma   0.0
4          Texas    New Mexico   1.0
5       Oklahoma    New Mexico   0.0
6        Arizona    New Mexico   0.0
7       Colorado    New Mexico   0.0
8       Oklahoma        Kansas   0.0
9       Colorado        Kansas   0.0
10      Nebraska        Kansas   0.0
11      Oklahoma      Colorado   0.0
12    New Mexico      Colorado   1.0
13        Kansas      Colorado   0.0
14      Nebraska      Colorado   0.0
15          Utah      Colorado   0.0
16       Wyoming      Colorado   0.0
17    New Mexico       Arizona   0.0
18          Utah       Arizona   0.0
19        Nevada       Arizona   0.0
20    California       Arizona   0.0
21        Kansas      Nebraska   0.0
22      Colorado      Nebraska   0.0
23  South Dakota      Nebraska   0.0
24       Wyoming      Nebraska   0.0
25       Arizona          Utah   0.0
26      Colorado          Utah   1.0
27        Nevada          Utah   0.0
28       Wyoming          Utah   0.0
29         Idaho          Utah   0.0
30       Arizona        Nevada   0.0
31          Utah        Nevada   1.0
32    California        Nevada   0.0
33         Idaho        Nevada   0.0
34        Oregon        Nevada   0.0
35       Arizona    California   0.0
36        Nevada    California   0.0
37        Oregon    California   0.0
38      Colorado       Wyoming   0.0
39      Nebraska       Wyoming   0.0
40          Utah       Wyoming   0.0
41  South Dakota       Wyoming   0.0
42       Montana       Wyoming   0.0
43         Idaho       Wyoming   0.0
44      Nebraska  South Dakota   0.0
45       Wyoming  South Dakota   0.0
46  North Dakota  South Dakota   0.0
47       Montana  South Dakota   0.0
48          Utah         Idaho   0.0
49        Nevada         Idaho   1.0
50       Wyoming         Idaho   0.0
51       Montana         Idaho   0.0
52        Oregon         Idaho   0.0
53        Nevada        Oregon   0.0
54    California        Oregon   0.0
55         Idaho        Oregon   0.0
56  South Dakota  North Dakota   0.0
57       Montana  North Dakota   0.0
58  South Dakota       Montana   0.0
59       Wyoming       Montana   0.0
60  North Dakota       Montana   0.0
61         Idaho       Montana   0.0
62         Idaho    Washington   1.0
63        Oregon    Washington   0.0

In [48]:
viz_optimized_route =optimized_route[optimized_route['Path'] == 1]
viz_optimized_route

         Start         End  Path
4        Texas  New Mexico   1.0
12  New Mexico    Colorado   1.0
26    Colorado        Utah   1.0
31        Utah      Nevada   1.0
49      Nevada       Idaho   1.0
62       Idaho  Washington   1.0

# Visualization of our Optimal Route from Texas to Washington

In [49]:
uniquelist

['Montana',
 'North Dakota',
 'Oregon',
 'Texas',
 'Wyoming',
 'South Dakota',
 'Utah',
 'Oklahoma',
 'Arizona',
 'Idaho',
 'Nevada',
 'Kansas',
 'Nebraska',
 'Colorado',
 'Washington',
 'New Mexico',
 'California']

In [50]:
import requests
import urllib.parse

longlist=[]
latlist=[]
for state in uniquelist:

  url = "https://nominatim.openstreetmap.org/search.php?state="+ state  +"&format=jsonv2"

  response = requests.get(url).json()
  print(response[0]["lat"])
  print(response[0]["lon"])
  latlist.append(response[0]["lat"])
  longlist.append(response[0]["lon"])

47.3752671
-109.638757
47.6201461
-100.540737
43.9792797
-120.737257
31.2638905
-98.5456116
43.1700264
-107.568534
44.6471761
-100.348761
39.4225192
-111.714358
34.9550817
-97.2684063
34.395342
-111.763275
43.6447642
-114.015407
39.5158825
-116.8537227
38.27312
-98.5821872
41.7370229
-99.5873816
38.7251776
-105.607716
47.2868352
-120.212613
34.5708167
-105.993007
36.7014631
-118.755997

In [51]:
lonlat = pd.DataFrame(uniquelist,columns=["Place"])
lonlat["long"]=longlist
lonlat["lat"]=latlist
lonlat

           Place          long         lat
0        Montana   -109.638757  47.3752671
1   North Dakota   -100.540737  47.6201461
2         Oregon   -120.737257  43.9792797
3          Texas   -98.5456116  31.2638905
4        Wyoming   -107.568534  43.1700264
5   South Dakota   -100.348761  44.6471761
6           Utah   -111.714358  39.4225192
7       Oklahoma   -97.2684063  34.9550817
8        Arizona   -111.763275   34.395342
9          Idaho   -114.015407  43.6447642
10        Nevada  -116.8537227  39.5158825
11        Kansas   -98.5821872    38.27312
12      Nebraska   -99.5873816  41.7370229
13      Colorado   -105.607716  38.7251776
14    Washington   -120.212613  47.2868352
15    New Mexico   -105.993007  34.5708167
16    California   -118.755997  36.7014631

In [52]:
geodata = pd.merge(viz_optimized_route,
					lonlat,
					left_on='Start',
          right_on='Place',
					how ='left')
geodata = pd.merge(geodata,
					lonlat,
					left_on='End',
          right_on='Place',
					how ='left')
geodata

,Start,End,Path,Place_x,long_x,lat_x,Place_y,long_y,lat_y
0,Texas,New Mexico,1.0,Texas,-98.5456116,31.2638905,New Mexico,-105.993007,34.5708167
1,New Mexico,Colorado,1.0,New Mexico,-105.993007,34.5708167,Colorado,-105.607716,38.7251776
2,Colorado,Utah,1.0,Colorado,-105.607716,38.7251776,Utah,-111.714358,39.4225192
3,Utah,Nevada,1.0,Utah,-111.714358,39.4225192,Nevada,-116.8537227,39.5158825
4,Nevada,Idaho,1.0,Nevada,-116.8537227,39.5158825,Idaho,-114.015407,43.6447642
5,Idaho,Washington,1.0,Idaho,-114.015407,43.6447642,Washington,-120.212613,47.2868352

In [53]:
import plotly.graph_objects as go
import pandas as pd


fig = go.Figure()

fig.add_trace(go.Scattergeo(
    locationmode = 'USA-states',
    lon = lonlat['long'],
    lat = lonlat['lat'],
    text = lonlat['Place'],
    mode = 'markers',
    marker = dict(
        size = 8,
        color = 'rgb(255, 0, 0)',
        line = dict(
            width = 5,
            color = 'rgba(68, 68, 68, 0)'
        )
    )))

flight_paths = []
for i in range(len(geodata)):
    fig.add_trace(
        go.Scattergeo(
            locationmode = 'USA-states',
            lon = [geodata['long_x'][i], geodata['long_y'][i]],
            lat = [geodata['lat_x'][i], geodata['lat_y'][i]],
            mode = 'lines',
            line = dict(width = 2,color = 'red')
        )
    )



fig.update_layout(
    title_text = 'Optimal Paths for Truck {} <br>(From Texas to Wahsington)'.format(Classtype),
    showlegend = True,
    geo = dict(
        scope = 'north america',
        projection_type = 'albers usa',
        showland = True,
        showcountries = True, countrycolor = 'Black',
        showsubunits=True, subunitcolor="Grey",
        landcolor = 'rgb(243, 243, 243)'
    ),
)


fig.show()

Reference
1. https://plotly.com/python/lines-on-mapbox/#lines-on-mapbox-maps-using-plotly-express
2. https://stackoverflow.com/questions/25888396/how-to-get-latitude-longitude-with-python